body{
	background-image:url("العلوم الإسلامية.jpg");
}
html {
  scroll-behavior: smooth;
}
.container{
background-color: rgba(242, 235, 217, 0.88);
	margin:25px;
	border-radius:80px;
	padding:25px;
	color:#333333;
	font-family:'Story Script','Playpen Sans Arabic';
	font-size:20px;
}
.header h1{
	font-size:50px;
}
.buttons{
	display:flex;
	justify-content:center;
	
}
.buttons a{
	background-color:#607d8b;
	margin:25px;
	padding:30px;
	text-decoration:none;
	color:white;
	font-weight:bold;
	font-size:30px;
	border-radius:80px;
	width:150px;
	height:40px;
	text-align:center;
	transition:0.5s;
	cursor:pointer;
}
.buttons a:hover{
	
	background-color:#b0bec5;
	width:160px;
	height:45px;
}
#advice ul {
		background-color:#D4D4D4;
		padding:20px;
		padding-right:30px;
		border-style:double;
		border-color:#494848;
		border-width:5px;
		border-radius:80px;	
}
#sources{
	   background-color:#D4D4D4;
		padding:20px;
		border-color:#494848;
		padding-right:30px;
		border-style:double;
		border-width:5px;
		border-radius:80px;
}
.back-to-top{
	position:fixed;
	bottom:2rem;
	right:2rem;
	border-radius:10px;
	background-color:#F2F3F5;
	box-shadow:5px 3px 5px #808080;
	height:50px;
	width:50px;
	display:flex;
	justify-content:center;
	align-items:center;
}
.material-symbols-outlined{
	color:#676767;
	position:absolute;
	
}
.back-to-top:hover{
	height:55px;
	width:55px;
}
