body{
	background-image:url("رياضيات.jpg");
}
html {
  scroll-behavior: smooth;
}
.container{
	background-color: rgba(255, 255, 255, 0.8);
	margin:25px;
	border-radius:80px;
	padding:25px;
	color:#234a38;
	font-family:'Story Script','Playpen Sans Arabic';
	font-size:20px;
}
.header h1 {
	color:#1c945d;
	font-size:48px;
	border-style:double;
	border-width:5px;
	border-color:#2cc780;
	border-radius:80px;
}
.header h1:hover{
	background-color:#1c945d;
	color:white;	
	border-style:double;
	border-color:white;	
}
.buttons{
	display:flex;
	justify-content:center;
	
}
.buttons a{
	background-color:#2cc780;
	margin:25px;
	padding:30px;
	text-decoration:none;
	color:white;
	font-weight:bold;
	font-size:30px;
	border-radius:80px;
	width:150px;
	text-align:center;
	transition:0.5s;
	cursor:pointer;
}
.buttons a:hover{
	
	background-color:#234a38;
	width:160px;
}
#advice ul{
	background-image:linear-gradient(to top ,#2cc780,#78f0b9);
	padding:20px;
	padding-right:30px;
	border-style:double;
	border-width:5px;
	border-radius:80px;
}
#sources{
	background-image:linear-gradient(to top ,#2cc780,#78f0b9);
	padding:20px;
	padding-right:30px;
	border-style:double;
	border-width:5px;
	border-radius:80px;
}
#sources h2{
	text-align:right;
}
.back-to-top{
	position:fixed;
	bottom:2rem;
	right:2rem;
	border-radius:10px;
	background-color:#F2F3F5;
	box-shadow:5px 3px 5px #808080;
	height:50px;
	width:50px;
	display:flex;
	justify-content:center;
	align-items:center;
}
.material-symbols-outlined{
	color:#676767;
	position:absolute;
	
}
.back-to-top:hover{
	height:55px;
	width:55px;
}

 